<a href="https://gist.github.com/faheemfactor/fa94db2f14d41351e9fabe000648645c"
  >GitHub gist</a
>
<hr />
<div *ngIf="exchangeInfo$ | async as info">
  <dl>
    <dt id="provider">Provider</dt>
    <dd id="provider-value">{{ info.provider }}</dd>
    <dt>WARNING_UPGRADE_TO_V6</dt>
    <dd>{{ info.WARNING_UPGRADE_TO_V6 }}</dd>
    <dt>terms</dt>
    <dd>{{ info.terms }}</dd>
    <dt>base</dt>
    <dd>{{ info.base }}</dd>
    <dt>date</dt>
    <dd>{{ info.date }}</dd>
    <dt>time_last_updated</dt>
    <dd>{{ info.time_last_updated }}</dd>
  </dl>
</div>
<div>
  <ag-grid-angular
    *ngIf="rates$ | async"
    class="ag-theme-alpine"
    [rowData]="rates$ | async"
    [gridOptions]="gridOptions"
    [columnDefs]="columnDefs"
  ></ag-grid-angular>
</div>

<!-- <router-outlet></router-outlet> -->
